<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AUTO MECÂNICA SILVA</title>
</head>
<body>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: center; margin-top: 20px; font-size: 10px;"> <!-- Centralizando o título no meio da página -->
      <h1 style="font-weight: bold; text-align: center; margin-bottom: 10px; font-size: 10px;">AUTO MECÂNICA SILVA</h1>
      <p>RUA HIPÓLITO JOSÉ DA COSTA 3800 - JD. GUANABARA</p>
      <p>FRANCA-SP - CEP: 14405-440</p>
      <p>FONE 01699378-8214 CNPJ: 32.768.941/0001-66</p>
    </div>

    <div style="border-top: 1px solid black; border-bottom: 1px solid black; display: inline-block; text-align: left; margin-top: 20px; font-size: 10px;"> <!-- Mantendo todas as informações na mesma linha -->
       <p>COTAÇÃO - 965341   OP: 001 VENDAS   COD OS: 0   DATA: 28/02/2024  VI: ÉDER SILVA CUNHA   VE:</p>
    </div>

    <table cellspacing="0" cellpadding="5" style="border-collapse: collapse; margin-top: 20px; font-size: 10px;">
      <thead>
        <tr>
          <th>QT. ATEN</th>
          <th>UNID</th>
          <th>CÓDIGO</th> <!-- Corrigindo a palavra código -->
          <th>DESCRIÇÃO</th> <!-- Corrigindo a palavra descrição -->
          <th>MARCA</th>
          <th>VL. UNID</th>
          <th>VL. TOTAL</th>
          <th>IPI</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</body>
</html>
